<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carwaale.taximate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <!-- Allow to connect with internet -->

    <uses-permission android:name="android.permission.INTERNET" />    
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 
    <!-- Required to show current location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.madsublocator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.madsublocator.Main"
            android:label="@string/app_name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
               <activity
            android:label="@string/app_name"
            android:name="com.example.madsublocator.DashboardActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
 
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
         
        <!--  Login Activity -->
        <activity
            android:label="Login Account"
            android:name="com.example.madsublocator.LoginActivity"
            android:windowSoftInputMode="stateVisible|adjustPan">
        </activity>
 
        <!--  Register Activity -->
        <activity
            android:label="Register New Account"
            android:name="com.example.madsublocator.RegisterActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"></activity>

 
        <!-- News Feed Activity -->
        <activity android:name="com.example.madsublocator.NewsFeedActivity" ></activity>
 
        <!-- Friends Activity -->
        <activity android:name="com.example.madsublocator.FriendsActivity" ></activity>
        <activity android:name="com.example.madsublocator.UserDetails" ></activity>
     <meta-data
     android:name="com.google.android.maps.v2.API_KEY"
     android:value="AIzaSyDXlVMafI2bxgv6mYxtpX2GjQi18yavj-w" />
 <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        
        <uses-library android:name="com.google.android.maps"/>
 
    </application>
     

  

</manifest>
